@page "{SessionId}"
@using System.Globalization;
@model SaysanPwa.Api.Pages.ReceiptSheet.Remittances.TableModel
@{
    Layout = "";
}

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>حساب بانک / حواله</th>
            <th>تاریخ</th>
            <th>مبلغ</th>
            <th>شماره حواله</th>
            <th>شرح</th>
            <th>دستورات</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Remittances.Any())
        {
            <tr>
                <td colspan="6">دریافت حواله ثبت نشده است.</td>
            </tr>
        }
        else
        {
            foreach(var item in Model.Remittances)
            {
                <tr>
                    <td>@item.BankAccountId</td>
                    <td>@DateTime.Now.ToString("yyyy/MM/dd", new CultureInfo("fa_IR"))</td>
                    <td>@item.Price.ToString("N0")</td>
                    <td>@item.RemittanceNumber</td>
                    <td>@item.Description</td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="DeleteRemmitance('@item.ItemId')">حذف</button>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
